player-connection-mode=Connect
player-connection-guid=2437493080
player-connection-debug=0
player-connection-project-name=Elysian-Outpost
player-connection-wait-timeout=-1
player-connection-ip=172.16.3.83
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=b9241c9a6c1b45219105175bd4cb8abc
